.results{
    background: #00474B;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.amount-total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}